<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Spring Security Example</title>
</head>
<body>
<div class="container">
    <div class="signin">
        <div class="logo">
            <img th:src="@{/images/logo.png}" alt="Logo">
        </div>
        <form th:action="@{/login}" method="post" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div th:if="${param.error}" class="error-message">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="logout-message">
                You have been logged out.
            </div>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" name="username" placeholder="Username"/>
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" name="password" placeholder="Password"/>
            </div>
            <input type="submit" value="Login" class="btn">
        </form>
    </div>
    <div class="image-container">
        <img th:src="@{/images/login_image.png}" alt="Image Description" class="image">
    </div>
</div>
</body>
</html>
